<div class="eddbk-cart-item-booking-info">
    <p>
        <span class="eddbk_cart-session-info">
            <span class="eddbk-cart-session-label">${session_label}</span>
            <span class="eddbk-cart-resources">${resources}</span>
        </span>
        <br style="display: inline !important;"/>
        <span class="eddbk-cart-booking-start-time"><time datetime="${start_datetime}">${start_text}</time></span>
        <span class="eddbk-cart-booking-timezone">(${timezone_text})</span>
    </p>
</div>
